*.log
*.pot
*.pyc
*.swp
.exrc
.DS_Store
.coverage
*.rdb
application/build/*
application/src/*
application/test/*
.cache
.idea
tags
.noseids
application/static/.tmp
._*
.python-version
settings/amazon.py
settings/rakuten.py
